body {
  background: url(svg/tree.svg);
  background-size: 100% 4046px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* nav style */
nav {
  background-color: #ccddb7;
  position: fixed;
  width: 100%;
  height: 46px;
  z-index: 2;
}

ul {
  list-style-type: none;
}

li {
  height: 42px;
  float: left;
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.icon {
  position: absolute;
  height: 42px;
  top: 2px;
}

.showcase img {
  border-radius: 10px;
  opacity: 0.8;
}

.showcase img:hover {
  opacity: 1.0;
}

#home {
  height: 800px;
}

#design {
  height: 1000px;
}

#games {
  height: 800px;
}

#programming {
  height: 1400px;
}

.svghome{
  font: bold 3.75em 'Arial';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

text{
  fill: whitesmoke;
  stroke: black;
  stroke-width:1.5px;
  stroke-linejoin: round;
}

.right {
  position: relative;
  width: 30%;
  left: 60%;
}

.left {
  position: absolute;
  width: 30%;
  left: 10%;
}