body {
  background-color: black;
  color: #BDBDBD;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

.centerBody {
  background-color: #0A0A0A;
  position: absolute;
  left: 25%;
  right: 25%;
  width: 48%;
  padding-left: 1%;
  padding-right: 1%;
}

.centerImage {
  width: 94%;
  padding-top: 3%;
  padding-left: 3%;
}

.leftBody {
  position: absolute;
  left: 0%;
  right: 75%;
  width: 25%;
}

.tab {
  padding-left: 2em;
}

.header {
  width: 100%;
  height: 15px;
}

.header img {
  width: 30px;
  height: 30px;
  padding-left: 15px;
}

.headerText {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.headerLeft {
  float: left;
  padding: 5px;
}

.headerRight {
  position: fixed;
  right: 0;
  padding: 15px;
}

.bold {
  font-weight: bold;
  font-variant: small-caps;
}

.normalbold {
  font-weight: bold;
}

.onethumbnail {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15px;
}

.twothumbnail {
  width: 45%;
  padding-left: 2.2%;
  padding-right: 2.2%;
  padding-bottom: 15px;
}

.rightthumbnail {
  position: absolute;
  width: 20%;
  right: 1%;
}

iframe {
  width: 90%;
  padding: 5%;
}

li {
  padding: 4px;
}

hr {
  color: #B50015;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
  text-align: center;
}

.ital {
  font-style: oblique;
}

.headerText:hover {
  background-color: grey;
  color: white;
  text-decoration: none;
}

.headerText:active {
  background-color: white;
  color: grey;
  text-decoration: none;
}

.important {
  font-variant: small-caps;
  padding-left: 20px;
  color: #B50015;
  font-size: 22px;
}

#on {
  background-color: #B50015;
}
